

.title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32%;
}

.list {
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.description {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}